<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Menu</title>
</head>
<body>
    <center>
    <form action="http://localhost:5000/input">
        <button type="submit">Cari Pokemon</button>
    </form>
    <form action="http://localhost:5000/lihat">
        <button type="submit">Lihat Semua Pokemon</button>
    </form>
    </center>
</body>
</html>