<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Cari Pokemon</title>
    <style>
    body {
        background-image: url("https://images7.alphacoders.com/381/thumb-1920-381583.jpg");
       }
    </style>
</head>
<body>
    <center>
    <h1><b>Masukkan Nama Pokemon</b></h1>
    <hr>
    <form method='POST' action='http://localhost:5000/Cari'>
        <input type='text' name='pokemon' placeholder="Masukkan Nama Pokemon..."/>
        <input type='submit' value='Cari Pokemon'/>
    </form>
    </center>
</body>
</html>
